{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenAI Compatible API",
    "version": "1.0.0",
    "description": "Simplified configuration for text and chat completions endpoints."
  },
  "servers": [
    {
      "url": "https://api.llmbase.io"
    }
  ],
  "paths": {
    "/v1/completions": {
      "post": {
        "tags": ["Completions"],
        "summary": "Generate text completions",
        "description": "Generates a text completion. Supports streaming via the 'stream' flag.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful text completion response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompletionResponse"
                },
                "example": {
                  "id": "cmpl-123",
                  "object": "text_completion",
                  "created": 1234567890,
                  "model": "text-davinci-003",
                  "choices": [
                    {
                      "text": "This is a text completion.",
                      "index": 0,
                      "finish_reason": "stop"
                    }
                  ],
                  "usage": {
                    "prompt_tokens": 10,
                    "completion_tokens": 5,
                    "total_tokens": 15
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "tags": ["Chat Completions"],
        "summary": "Generate chat completions",
        "description": "Generates a chat completion. Supports streaming via the 'stream' flag.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful chat completion response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                },
                "example": {
                  "id": "chatcmpl-123",
                  "object": "chat.completion",
                  "created": 1234567890,
                  "model": "gpt-3.5-turbo",
                  "choices": [
                    {
                      "message": {
                        "role": "assistant",
                        "content": "Hello, how can I help you?"
                      },
                      "index": 0,
                      "finish_reason": "stop"
                    }
                  ],
                  "usage": {
                    "prompt_tokens": 12,
                    "completion_tokens": 8,
                    "total_tokens": 20
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CompletionRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "description": "ID of the model to use"
          },
          "prompt": {
            "oneOf": [
              { "type": "string" },
              { "type": "array", "items": { "type": "string" } }
            ],
            "description": "The prompt(s) for generating a completion"
          },
          "stream": {
            "type": "boolean",
            "description": "Whether to stream the response"
          }
        },
        "required": ["model", "prompt"]
      },
      "CompletionResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "object": { "type": "string" },
          "created": { "type": "integer" },
          "model": { "type": "string" },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "text": { "type": "string" },
                "index": { "type": "integer" },
                "finish_reason": { "type": "string", "nullable": true }
              },
              "required": ["text", "index"]
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": { "type": "integer" },
              "completion_tokens": { "type": "integer" },
              "total_tokens": { "type": "integer" }
            },
            "required": ["prompt_tokens", "completion_tokens", "total_tokens"]
          }
        },
        "required": ["id", "object", "created", "model", "choices", "usage"]
      },
      "ChatCompletionRequest": {
        "type": "object",
        "properties": {
          "model": { "type": "string", "description": "ID of the model to use" },
          "messages": {
            "type": "array",
            "description": "List of messages in the conversation",
            "items": {
              "type": "object",
              "properties": {
                "role": { "type": "string", "description": "Role of the message" },
                "content": { "type": "string", "description": "Content of the message" }
              },
              "required": ["role", "content"]
            }
          },
          "stream": {
            "type": "boolean",
            "description": "Whether to stream the response"
          }
        },
        "required": ["model", "messages"]
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "object": { "type": "string" },
          "created": { "type": "integer" },
          "model": { "type": "string" },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "object",
                  "properties": {
                    "role": { "type": "string" },
                    "content": { "type": "string" }
                  },
                  "required": ["role", "content"]
                },
                "index": { "type": "integer" },
                "finish_reason": { "type": "string", "nullable": true }
              },
              "required": ["message", "index"]
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": { "type": "integer" },
              "completion_tokens": { "type": "integer" },
              "total_tokens": { "type": "integer" }
            },
            "required": ["prompt_tokens", "completion_tokens", "total_tokens"]
          }
        },
        "required": ["id", "object", "created", "model", "choices", "usage"]
      }
    }
  }
}
